apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
spec:
  project: argocd
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  source:
    helm:
      values: |
        configs:
          cm:
            exec.enabled: true
            kustomize.buildOptions: --enable-helm
            application.resourceTrackingMethod: annotation+label
            application.instanceLabelKey: argocd.argoproj.io/instance
          params:
            server.insecure: false
        crds:
          install: false
        dex:
          enabled: false
        extraObjects:
        - apiVersion: argoproj.io/v1alpha1
          kind: AppProject
          metadata:
            name: argocd
            namespace: argocd
          spec:
            clusterResourceWhitelist:
            - group: '*'
              kind: '*'
            description: Argocd Project
            destinations:
            - namespace: '*'
              server: '*'
            orphanedResources:
              warn: false
            sourceRepos:
            - '*'
        global:
          domain: argocd.minikube.home
        server:
          certificate:
            enabled: true
            issuer:
              group: cert-manager.io
              kind: ClusterIssuer
              name: ca-issuer
          config:
            repositories: |
              - type: git
                url: https://github.com/llegolas/gitops.git
              - name: argo-helm
                type: helm
                url: https://argoproj.github.io/argo-helm
          configEnabled: true

